<div class="container mt-5">
  <div
    *ngIf="character"
    class="row animate__animated animate__bounce animate__fadeIn"
  >
    <div class="col-md-9">
      <p><strong>ID:</strong> {{ character.id }}</p>
      <p><strong>Name:</strong> {{ character.name }}</p>
      <p><strong>Status:</strong> {{ character.status }}</p>
      <p><strong>Species:</strong> {{ character.species }}</p>
      <p><strong>Gender:</strong> {{ character.gender }}</p>
      <p><strong>Origin:</strong> {{ character.origin.name }}</p>
      <p><strong>Location:</strong> {{ character.location.name }}</p>
      <img
        style="width: 80%; height: 80%"
        class="rounded"
        src="{{ character.image }}"
        alt="{{ character.name }}"
      />
    </div>

    <div class="col-md-3">
      <a class="btn btn-danger" routerLink="/">Back</a>
    </div>
  </div>
</div>
